ul,
ol {
  padding: 0;
}

.navbar-desktop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 600px) {
  .navbar-desktop {
    bottom: 0;
    width: 50px;
    flex-flow: column nowrap;
  }

  ol {
    margin: 12px 0;
  }
}

@media only screen and (max-width: 600px) {
  .navbar-desktop {
    right: 0;
    height: 50px;
    flex-flow: row nowrap;
  }
  ul {
    display: flex;
    margin: 0;
  }
  ol {
    margin: 10px 12px;
  }
}
